.FamilyMedicalHistoryContent{
    width: 410px;
    // height: 195px;
    background-color: #fff;

    &__Info{
        width:315px;
        margin-left: 20px;
    }
}


.rhc1aa{
    color: #c2c2c2;
}
.rhc1ab{
    color: #5a5a5a;
}