.PastMedicalHistory{
    width: 570px;
    height: 100%;
    float: left;
    background-color: #fff;
    margin-right: 10px;

    &__Headerlink{
        background: url('../images/pmh.png') no-repeat;
        position: absolute;
        height: 40px;
        width: 40px;
        left: 25px;
        bottom: 5px;
    }
}

