.RelationshipHistoryContent{
    width: 570px;
    // height: 195px;
    background-color: #fff;
    // margin-top: -16px;

    &__1a{
        width:315px;
        margin-left: 20px;
    }

    &__1b{
        margin-left: 315px;
        margin-top: -150px;
    }
}

.rhc1aa{
    color: #c2c2c2;
}
.rhc1ab{
    color: #5a5a5a;
}
